.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .respName{
    display: none;
  }
  .textLogo{
    width: 360px;
  }
  @media(max-width: 960px) {
    flex-wrap: wrap;
    .textLogo{
      display: none;
    }
    .respName{
      display: block;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      svg{
        display: inline-block;
        max-width: 100%;
      }
    }
  }
}

.hamburger{
  z-index: 1100;
  position: relative;
  >div{
    >div > div{
      height: 1px!important;
    }
  }
}

.nav{
  position: absolute;
  background: black;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all .2s ease;
  &.active{
    z-index: 1001;
    opacity: 1;
    nav{
      ul{
        li{
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  nav{
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    ul{
      li{
        text-align: right;
        transition: all .2s ease;
        &:not(:last-of-type) {
          margin-bottom: 0px;
        }
        a{
          color: white;
          font-size: 33px;
          text-transform: uppercase;
          position: relative;
          display: inline-block;
          &:after{
            content: '';
            display: none;
            width: 100%;
            height: 1px;
            background: white;
            bottom: 0;
            left: 0;
          }
        }
        ul{
          li{
            display: inline-block;
            &:not(:last-of-type) {
              margin-right: 20px;
            }
            a{
              svg{
                opacity: .7;
                transition: all .2s ease;
              }
              &:hover{
                svg{
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}