.slide{
  height: 100vh;
  img{
    object-fit: cover;
    object-position: center;
  }
}

.slider{
  margin-bottom: 30px;
}

.sliderWrap {
  position: relative;
  .sliderNav{
    z-index: 999;
    position: absolute;
    top: 50%;
    width: 100%;
    svg{
      transform: translateY(-50%) scale(1);
      position: absolute;
      cursor: pointer;
      @media(max-width: 960px) {
        transform: translateY(-50%) scale(.7);
      }
      &:first-of-type{
        left: 0;
      }
      &:last-of-type{
        right: 0;
      }
    }
  }
}